
<!doctype html>
<html>
<head>
    
<meta http-equiv="/cleartype" content="on" />
<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/roboto-light.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/aileron-thin.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/myriadpro-regular.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/aileron-regular.css" rel="stylesheet" type="text/css" media="all" />

<link href="/static/css/jquery.mcustomscrollbar.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-migrate-1.3.0.min.js"></script>
<script type="text/javascript" src="/static/js/comm.js"></script>
<meta content="科尔卡诺集团，办公家具定制,,板式办公家具," name="keywords" />
<meta content=" 科尔卡诺是科尔卡诺集团有限公司旗下品牌，公司总部位于杭州，成立于2012年，是目前办公家具市场的新锐品牌。主营：办公家具，高端办公家具，板式办公家具定制的厂家，公司拥有集研发、运营、品牌管理为一体的生产中心，产品销售网络遍布全国。服务热线：400-926-0980." name="description" />
<title>
TestDemoWeb
</title>


    
    <script type="text/javascript" src="/static/js/jwplayer.js"></script>

</head>
<body data-controller="Home" data-actioni="Index" data-base="/" data-cid="9">
    <div class="mlAuto main">
        



<div class="top-bar noborder">
    <div class="logo">
	<a href="/">
	<img src="/static/picture/logo.png" width="264" height="33" />
	</a>
	</div>
</div>
<div class="main-banner">

            <div class="list">
                <div class="list-c" style="background-image: url(/static/images/47cf6bff9010cf735092439f2b232fe7.jpg);"></div>
            </div>
            <div class="list">
                <div class="list-c" style="background-image: url(/static/images/f7d534c9873ffecc50a6fea0d6cf441f.jpg);"></div>
            </div>
            <div class="list">
                <div class="list-c" style="background-image: url(/static/images/e148aa051b714a9cb6bf6f448b5eb4fa.jpg);"></div>
            </div>
            <div class="list">
                <div class="list-c" style="background-image: url(/static/images/5a4d86d5b8b47a3b5799d59d37036b2f.jpg);"></div>
            </div>
            <div class="list">
                <div class="list-c" style="background-image: url(/static/images/7fb10e22495e32b0b63408461d82ecf2.jpg);"></div>
            </div>
            <div class="list">
                <div class="list-c" style="background-image: url(/static/images/ec70080712c5c90d0d45f23372a489d0.jpg);"></div>
            </div>

</div>

<div class="height50"></div>
<div class="height10"></div>
        <div class="main-item has-animate index-company">
            <div class="gt1">
                公司介绍
            </div>
            
            <div class="item l">
                <div class="lc" style="background-image: url(/static/images/c49f35a7249bf5a0f9ca5cd5164033bf.jpg)"></div>
            </div>
            <div class="item r">
                <div class="rc">
                    <div class="rc-inner">
                        <p style="text-indent: 37px; ">2012年，一个时尚、具备国际化视野的新锐品牌——kano.cn科尔卡诺应运而生。从创始之初，科尔卡诺就是想给高管人群提供更有品味的办公家具，乃至整个办公环境。因此，我们不断塑造中国当代的班台审美，班台产品屡获国内外设计大奖。至今，我们能提供更多的办公空间产品（包括空间墙板、原创地毯、定制墙柜、进口灯具），帮助客户打造有品位的高管办公环境。2018年，科尔卡诺推出“定制总裁空间”的品牌理念！</p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;科尔卡诺针对都市年轻人的审美需求，在2018年推出迪麦思系列品牌，提倡都市美学四要素：摩登、青春、活力、原创。这一青春休闲风格的产品系列更能适合当今都市年轻人的审美需求，为都市年轻人的办公环境提供了更新的解决方案。</p><p><br/></p>
                        <a href="/About/Index/1/" class="more"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="height50"></div>
        <div class="height10"></div>


        <div class="main-item has-animate index-case">
            <div class="l">
                <div class="lc">
                    <div class="t1">
                        工程案例
                    </div>
                    <p style="white-space: normal; text-indent: 37px;">始终信奉“精则尚、尚则悦”的产品设计理念，将人本主义设计观根植于产品的每个细节里。我们用简单表现更深的生活意义，以简约为魂，形随心至。科尔卡诺拥有集研发、运营、品牌管理为一体的生产中心，坚持稳健经营、持续创新、开放合作，产品销售服务覆盖全国一、二线城市，并着眼于国际化市场。科尔卡诺始终以设计、质量、品牌、服务为发展基石，通过稳健、专业的品质管理及运作模式，为客户提供专业、国际化的办公环境解决方案。</p><p style="white-space: normal; text-indent: 37px;"><span style="font-family: 宋体; font-size: 19px;"><span></span></span><br/></p><p><br/></p>
                    <div class="height50"></div>
                    <div class="height50"></div>
                    <div align="right">
                        <a href="/Case/" class="more">All Case</a>
                    </div>
                </div>
            </div>
            <a href="/Case/" class="r" style="background-image: url(/static/images/img.jpg);">
            </a>
        </div>
        <div class="height50"></div>
        <div class="height10"></div>

<div class="main-item has-animate index-product">


                    <div class="l">
                        <a href="/Product/Detail/114/566/" class="item-c" title="Big-pang-大胖沙发">
                            <div class="img  " style="background-image: url(/static/images/1fd9c8052a18dabda189cf0085493fae.jpg);"></div>
                            <div class="mask">
                                <div class="text">Big-pang-大胖沙发</div>
                            </div>
                        </a>
                    </div>
<div class='r inner-auto-width' data-width='3' data-margin='42'><div class='max'>                    <a href="/Product/Detail/114/674/" title="Mooi-摩奕" class="item-c auto-list">
                        <div class="img " style="background-image: url(/static/images/fa60c81c57b7ec6a81d7bf0a8d748727.jpg);"></div>
                        <div class="mask">
                            <div class="text">Mooi-摩奕</div>
                        </div>
                    </a>
                    <a href="/Product/Detail/114/672/" title="Yoto-悦途" class="item-c auto-list">
                        <div class="img " style="background-image: url(/static/images/0a037bb041eca815b409d18ddc892f6c.jpg);"></div>
                        <div class="mask">
                            <div class="text">Yoto-悦途</div>
                        </div>
                    </a>
                    <a href="/Product/Detail/114/670/" title="Starto-星途" class="item-c auto-list">
                        <div class="img " style="background-image: url(/static/images/6b3bdf0dfc68cd68310b61e3041d8b04.jpg);"></div>
                        <div class="mask">
                            <div class="text">Starto-星途</div>
                        </div>
                    </a>
                    <a href="/Product/Detail/114/677/" title="Maten-麦腾" class="item-c auto-list">
                        <div class="img " style="background-image: url(/static/images/4dba956efd982f1b424f8fb6ecd4470b.jpg);"></div>
                        <div class="mask">
                            <div class="text">Maten-麦腾</div>
                        </div>
                    </a>
                    <a href="/Product/Detail/114/669/" title="Sunshine-思尚" class="item-c auto-list">
                        <div class="img " style="background-image: url(/static/images/44a223a65237258c5ee304c5995c76de.jpg);"></div>
                        <div class="mask">
                            <div class="text">Sunshine-思尚</div>
                        </div>
                    </a>
                    <a href="/Product/Detail/114/678/" title="Siye-思悦" class="item-c auto-list">
                        <div class="img " style="background-image: url(/static/images/f658835ef4bde98882f7f94c3bc6453f.jpg);"></div>
                        <div class="mask">
                            <div class="text">Siye-思悦</div>
                        </div>
                    </a>
</div></div><div class='item-out '>                    <div class="item il">
                        <a href="/Product/Detail/114/676/" class="item-c" title="Magic-麦格">
                            <div class="img " style="background-image: url(/static/images/b1421d29e911e49d0c0780aebf3ec1ce.jpg);"></div>
                            <div class="mask">
                                <div class="text">Magic-麦格</div>
                            </div>
                        </a>
                    </div>
                    <div class="item ir">
                        <a href="/Product/Detail/114/675/" class="item-c" title="Damons">
                            <div class="img " style="background-image: url(/static/images/11578cae2d023447904ff5604f800bcc.jpg);"></div>
                            <div class="mask">
                                <div class="text">Damons</div>
                            </div>
                        </a>
                    </div>
 </div>

    <div align="right" style="clear: both;">
        <a href="/Product/" class="more">
            <span>All  Series</span>
        </a>
    </div>
</div>
<div class="height50"></div>
<div class="height10"></div>
<div class="main-item has-animate index-design">
    <div class="item l">
        <div class="item-c">
            <div class="gt1">
                设计师
            </div>
            
            <a href="/Designer/" class="more" style="background-image: url(/static/images/img.jpg);"></a>
        </div>
    </div>
    <div class="item r">
        <div class="item-c">
            <div class="gt1">
                展厅
            </div>
            

                    <div class="row r1">
                        <a href="/ShowRoom/" class="list">
                            <div class="img" style="background-image: url(/static/images/00834a8f580a1778a01de1cdaf2c186f.jpg)"></div>
                        </a>
                    </div>


            <div class="row r2">

                        <div class="rl">
                            <div class="rlc">
                                <a href="/ShowRoom/" class="list">
                                    <div class="img" style="background-image: url(/static/images/46f650ef7704340388291386ce2c7954.jpg);"></div>
                                </a>
                            </div>
                        </div>



                <div class="rr">
                    <div class="rrc">
                        <a href="/ShowRoom/" class="more">
                            <div class="text">
                                All showroom
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="height50"></div>
<div class="height10"></div>
<div class="index-video has-animate">
    <div class="height50"></div>
    <div class="height40"></div>
    <a href="javascript:void(0);" class="video-c mlAuto play-video" data-img="/Files/bbaf698b369305c4497f2268feb53ebd.jpg" data-src="/Files/29092fe646cb9ab07d69295e73d00d1c.mp4">
        <div class="t1">Image Video</div>
        <div class="t2">Kano.cn Easy Office Happy life everywhere</div>
        <div class="t3">科尔卡诺 轻松办公 快乐生活</div>
    </a>
    <div class="height50"></div>
    <div class="height40"></div>
    <div align="center">
        <a href="/Video/Index/" class="reg">
            More Video
        </a>
    </div>
</div>

        <div class="copyright">
            <div class="content mlAuto">
                <div class="height30"></div>
                <div class="l">
                    <div class="lt">
                        科尔卡诺集团有限公司
                    </div>
                    <div class="lc">
                        A 中国.浙江.杭州余杭区余杭区塘栖镇张家墩路139号 <br />
                        T +400-926-0980 <br />
                        M kano@kano-office.com
                    </div>
                </div>
                <div class="r">
                    <div class="rn">
                                <a data-controller="home" href="/" title="首页">首页</a>
                                <a data-controller="product" href="/product/" title="产品中心 ">产品中心 </a>
                                <a data-controller="showroom" href="/ShowRoom/" title="展厅展示">展厅展示</a>
                                <a data-controller="designer" href="/Designer/" title="设计工艺">设计工艺</a>
                                <a data-controller="show" href="/Show/" title="资讯新闻">资讯新闻</a>
                                <a data-controller="video" href="/video/index/" title="视频中心">视频中心</a>
                                <a data-controller="case" href="/Case/" title="工程案例">工程案例</a>
                                <a data-controller="about" href="/About/Index/1" title="关于我们">关于我们</a>

                    </div>
                    <div class="rc">
                        <div class="qr">
                            <img src="static/picture/qr.png" width="172" />
                        </div>
                        <div class="mail">
                            <div class="height5"></div>
                            <div class="height2"></div>
                            <div class="input">
                                <div class="input-c">
                                    <input type="text" value="your@email.com" class="hint" />
                                </div>
                            </div>
                            <a href="mailto:kano@kano-office.com" class="btn">
                                send
                            </a>
                        </div>
                    </div>
                </div>
                <div class="height30"></div>
            </div>
        </div>
        <div class="bottom">
            <div class="content mlAuto">
                <div class="l">Copyright © 2016 All Reserved 版权所有 科尔卡诺集团具有限公司 <a href="http://www.beian.miit.gov.cn" target="_blank">浙ICP备14022176号-1</a> <span>服务热线：400-926-0980.</span></div><div class="r">技术支持：<a href> 巴零互联</a>&nbsp;</div>
				<script type="text/javascript" src="static/js/193006.js" async defer></script>
            </div>
        </div>
        <div class="menu">
            <div align="center" class="mlogo">
                <img src="static/picture/menu-logo.png" width="248" height="30" />
            </div>
            <a href="javascript:void(0);" class="close" onclick="$('.menu').hide(); $('body').removeClass('ovh');">
                <img src="static/picture/close-menu.png" width="60" height="50" />
            </a>
            <div class="menu-c mlAuto">
                <div class="menu-inner">
                    <div class="l">
                                <a data-controller="home" href="/" title="首页">
                                    <div class="cn">首页</div>
                                    <div class="en">HOME</div>
                                </a>
                                <a data-controller="product" href="/product/" title="产品中心 ">
                                    <div class="cn">产品中心 </div>
                                    <div class="en">product</div>
                                </a>
                                <a data-controller="showroom" href="/ShowRoom/" title="展厅展示">
                                    <div class="cn">展厅展示</div>
                                    <div class="en">showroom</div>
                                </a>
                                <a data-controller="designer" href="/Designer/" title="设计工艺">
                                    <div class="cn">设计工艺</div>
                                    <div class="en">DESIGNERS</div>
                                </a>
                                <a data-controller="show" href="/Show/" title="资讯新闻">
                                    <div class="cn">资讯新闻</div>
                                    <div class="en">Show</div>
                                </a>
                                <a data-controller="video" href="/video/index/" title="视频中心">
                                    <div class="cn">视频中心</div>
                                    <div class="en">Videos</div>
                                </a>
                                <a data-controller="case" href="/Case/" title="工程案例">
                                    <div class="cn">工程案例</div>
                                    <div class="en">Case</div>
                                </a>
                                <a data-controller="about" href="/About/Index/1" title="关于我们">
                                    <div class="cn">关于我们</div>
                                    <div class="en">About Us</div>
                                </a>

                        <a data-controller="" target="_blank" href="https://www.expoon.com/e/7iyx3v991tz/?from=singlemessage" title="VR全景">
                            <div class="cn">VR全景</div>
                            <div class="en">VR</div>
                        </a>
                        
                    </div>
                    <div class="r">
                        <form method="GET" id="search-form" action="/Product/List/">
                            <div class="search">
                                <div class="input">
                                    <div class="ic">
                                        <input type="text" name="key" value="" />
                                    </div>
                                </div>
                                <div class="btn">
                                    <a href="javascript:void(0);" onclick="$('#search-form').submit(); return false;"></a>
                                </div>
                            </div>
                            <div class="height30"></div>
                            <div class="menu-categorys">
                                        <a href="/product/list/115" title="椅子/沙发系列">椅子/沙发系列 </a>
                                        <a href="/product/list/114" title="Damons-迪麦思系列">Damons-迪麦思系列 </a>
                                        <a href="/product/list/16" title="Carl-科系列">Carl-科系列 </a>
                                        <a href="/product/list/15" title="Min-明系列">Min-明系列 </a>
                                        <a href="/product/list/14" title="White-维系列">White-维系列 </a>
                                        <a href="/product/list/13" title="CEO-高管系列">CEO-高管系列 </a>
                                        <a href="/product/list/11" title="系统家具">系统家具 product</a>


                            </div>
                        </form>
                    </div>
                    <div class="height1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="qrcode">
        <img src="static/picture/427b0ed60e4b0b055af14e9cef495330.png" width="150" />
    </div>
    <a href="javascript:void(0);" class="menu-btn"></a>
    <a href="http://en.kano-cn.com/" class="language-btn"></a>
    <a href="javascript:void(0);" class="back-btn"></a>
</body>

</html>
